JWT_SECRET=your-256-bit-hex-secret-here
JWT_ALGO=HS256
BCRYPT_SALT=$2b$12$your-salt-here
CORS_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql://postgres.iiroelrkuouycfmueeih:krrishbhandari100@aws-1-ap-south-1.pooler.supabase.com:6543/postgres